# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# Temporary files
tmp/
temp/

# OS-specific files
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.vs/

# Miscellaneous
*.tgz
